<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JAVMONSTER - BATTLE</title>
</head>
<body>
    <h1>JAVMONSTER</h1>
    
    <p style="font-size: 15px;">勝利した！</p>

    <h2>ボーナスの選択</h2>
    <p>（※体力はバトル開始時には全快します）</p>
    <form th:action="@{/games/apply-bonus}" method="post">
        <input type="hidden" name="bonusType" value="1">
        <input type="hidden" name="bonusValue" th:value="${hpBonus}">
        <button type="submit" th:text="'たいりょく' + ${hpBonus}"></button>
    </form>
    <form th:action="@{/games/apply-bonus}" method="post">
        <input type="hidden" name="bonusType" value="2">
        <input type="hidden" name="bonusValue" th:value="${attackBonus}">
        <button type="submit" th:text="'こうげき' + ${attackBonus}"></button>
    </form>
    <form th:action="@{/games/apply-bonus}" method="post">
        <input type="hidden" name="bonusType" value="3">
        <input type="hidden" name="bonusValue" th:value="${magicAttackBonus}">
        <button type="submit" th:text="'まほう' + ${magicAttackBonus}"></button>
    </form>
    <form th:action="@{/games/apply-bonus}" method="post">
        <input type="hidden" name="bonusType" value="4">
        <input type="hidden" name="bonusValue" th:value="${defenceBonus}">
        <button type="submit" th:text="'ぼうぎょ' + ${defenceBonus}"></button>
    </form>
    <form th:action="@{/games/apply-bonus}" method="post">
        <input type="hidden" name="bonusType" value="5">
        <input type="hidden" name="bonusValue" th:value="${quicknessBonus}">
        <button type="submit" th:text="'すばやさ' + ${quicknessBonus}"></button>
    </form>
    <form th:action="@{/games/apply-bonus}" method="post">
        <input type="hidden" name="bonusType" value="6">
        <input type="hidden" name="bonusValue" th:value="${hungrinessBonus}">
        <button type="submit" th:text="'はらぺこ' + ${hungrinessBonus}"></button>
    </form>

    <table>
        <tr><td>たいりょく</td><td th:text="${hp}"></td></tr>
        <tr><td>こうげき</td><td th:text="${attack}"></td></tr>
        <tr><td>まほう</td><td th:text="${magicAttack}"></td></tr>
        <tr><td>ぼうぎょ</td><td th:text="${defence}"></td></tr>
        <tr><td>すばやさ</td><td th:text="${quickness}"></td></tr>
        <tr><td>はらぺこ</td><td th:text="${hungriness}"></td></tr>
    </table>

    <p>現在の勝利数: <strong th:text="${winCount}"></strong></p>

    <form th:action="@{/index}" method="get">
        <button type="submit">ゲームリセット</button>
    </form>
</body>
</html>
